<div class="collapsible collapsible--expanded">
    <header class="collapsibles__header">
        <h2 class="collapsibles__heading">
            Item 1
        </h2>
        <object data="images/chevron.svg" class="icon icon--white collapsibles__chevron">

        </object>

    </header>
    <div class="collapsibles__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, nulla!
    </div>


</div>
<div class="collapsible collapsible--expanded">
    <header class="collapsibles__header">
        <h2 class="collapsibles__heading">
            Item 1
        </h2>
        <object data="images/chevron.svg" class="icon icon--primary collapsibles__chevron">

        </object>

    </header>
    <div class="collapsibles__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, nulla!
    </div>


</div>
<script src="js/main.js"></script>