<footer class="block block__dark footer">
    <div class="container grid footer__sections">
        <section class="collapsible footer__section">
            <header class="collapsibles__header">
                <h2 class="collapsibles__heading footer__heading">
                    PRODUCTS
                </h2>
                <object data="images/chevron.svg" class="icon icon--primary collapsibles__chevron ">

                </object>

            </header>
            <div class="collapsibles__content">
                <ul class="list">
                    <li> <a href="#">Website Hosting</a></li>
                    <li><a href="#">Free Automated wordpress</a></li>
                    <li> <a href="#">Migrations</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsibles__header">
                <h2 class="collapsibles__heading footer__heading">
                    COMPANY
                </h2>
                <object data="images/chevron.svg" class="icon icon--primary collapsibles__chevron">

                </object>

            </header>
            <div class="collapsibles__content">
                <ul class="list">
                    <li> <a href="#">Website Hosting</a></li>
                    <li><a href="#">Free Automated wordpress</a></li>
                    <li> <a href="#">Migrations</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsibles__header">
                <h2 class="collapsibles__heading footer__heading">
                    SUPPORT
                </h2>
                <object data="images/chevron.svg" class="icon icon--primary collapsibles__chevron">

                </object>

            </header>
            <div class="collapsibles__content">
                <ul class="list">
                    <li> <a href="#">Website Hosting</a></li>
                    <li><a href="#">Free Automated wordpress</a></li>
                    <li> <a href="#">Migrations</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsibles__header">
                <h2 class="collapsibles__heading footer__heading">
                    DOMAINS
                </h2>
                <object data="images/chevron.svg" class="icon icon--primary collapsibles__chevron">

                </object>

            </header>
            <div class="collapsibles__content">
                <ul class="list">
                    <li> <a href="#">Website Hosting</a></li>
                    <li><a href="#">Free Automated wordpress</a></li>
                    <li> <a href="#">Migrations</a></li>
                </ul>
            </div>
        </section>
        <section class="footer__brand">
            <img src="images/logo.svg">
            <p class="footer__copyright"> Copyright 2023 Laith Altal</p>
        </section>
    </div>
</footer>